body {
    display: flex;
    flex-direction: row;
    margin: 0px;
    height: 100vh;
}

#main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

#sidebar {
    border-right: 1px solid lightgray;
    width: 200px;
}

.filter {
    margin: 0.2rem;
}

.filter-title {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    cursor: pointer;
}

/*
.filter-title * {
    pointer-events: none;
}
*/

.collapsed {
    display: none;
}

.filter-content label {
    padding: 0.2rem 0;
    display: block;
}

.filter-content label:hover {
    background: #F8F8F8;
}

.filter-content button {
    margin-top: 0.2rem;
}
